@import '../var.scss';

.mx__table {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .tools-btns {
    flex: 1;
    text-align: right;
  }

  &__query {
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
  }

  .table__wrapper {
    box-sizing: border-box;
    background: #fff;

    .el-pagination {
      margin-top: 17px;
      text-align: center;
    }
  }
}
